{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %} 
<div class="container">
    <h4 class="centered">{% trans "List of exercises" %} {% trans "of" %} {{student_object.name}} {{student_object.surname}} {% trans "of" %} {{activity_object.title}}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th class="td-none" id="weight">{% trans "Weight" %}</th>
                        <th id="statement">{% trans "Statement" %}</th>
                        <th class="center" id="mark">{% trans "Mark" %}</th>
                        <th class="center" id="manual_mark">{% trans "Manual mark" %}</th>
                        {% comment %} <th class="center" id="evaluate">{% trans "Evaluate" %}</th>  {% endcomment %}
                        <th class="center" id="competences">{% trans "Competences" %}</th>
                    </tr>
                </thead>
            {% for object in ex_mark_saved %}
                    <tbody>
                        <tr class="center">
                            <td class="td-none" >{{object.exercise.weight}}</td>
                            <td><div class="text-large">{{object.exercise.statement}}</div></td>
                            <td class="center">
                                {% if object.mark or object.mark == 0 %}
                                    {{object.mark}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="center editable" data-id="{{ object.id }}" data-type="mark">
                                <div style="color:#0d47a1;cursor:pointer">
                                    {% if object.manual_mark or object.manual_mark == 0 %}
                                        {{object.manual_mark}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                            {% comment %} <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_exercises_create' object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td> {% endcomment %}
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_competences_list' id=object.exercise.pk pk=student_object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
<a onClick="location.href='{% url 'marks_activities_list' sk=set_object.pk id=evaluation_object.pk pk=student_object.pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
<a onClick="location.href='{% url 'marks_exercises_next' id=activity_object.pk pk=student_object.pk %}'" class="waves-effect right waves-light btn" style="margin-top:55px; margin-bottom:15px; margin-left:15px;"><i class="material-icons left">keyboard_arrow_right</i>{% trans "Next Student" %}</a>
<a onClick="location.href='{% url 'marks_exercises_previous' id=activity_object.pk pk=student_object.pk %}'" class="waves-effect right waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">keyboard_arrow_left</i>{% trans "Previous Student" %}</a>
</div>
<script>
    $(document).ready(function(){
        $(document).on("click", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='number' class='input-data' style='width:50px;'>";
            $(this).html(input);
            $(this).removeClass("editable");
        });

        $(document).on("blur", ".input-data", function(){
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            sendToServer(td.data("id"), value, {{teacher_id}});
        });

        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if (key == 13){
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                sendToServer(td.data("id"), value, {{teacher_id}});
            }
        });

        function sendToServer(id, value, user){
            console.log(id);
            console.log(value);
            $.ajax({
                url:"https://verumapp.herokuapp.com/marks/exercises/save",
                type:"POST",
                data:{id:id, value:value, user:user},
            })
            .done(function(response){
                console.log(response);
                M.toast({html: '{{done}}', classes: 'green lighten-1'})
    
                
            })
            .fail(function(response){
                console.log("Error");
                M.toast({html: '{{fail}}', classes: 'red lighten-1'})
                
            });
        }
    });
</script>
{% endblock %}
