{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div style="padding-top:15px; width:1000px; margin: 0 auto;" >
	<div style=" border-radius: 10px;  box-shadow: 2px 2px 10px #666;">
    {% if update %}
        <div class="center" style="background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); padding-top:1px; border-top-right-radius: 10px; border-top-left-radius:10px; ">
            <h3 style="text-align:center; padding-bottom:20px;">
                {% trans "Edit Activity " %}  
            </h3>
        </div> 
    {% else %}
        <div class="center"  style="background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);padding-top:1px; border-top-right-radius: 10px; border-top-left-radius:10px;">
            <h3 style="text-align:center; padding-bottom:20px;">
                {% trans "Create Activity" %}  
            </h3>
        </div>
    {% endif %}
        <div id="form-generic" class="container">
            <div class="row">
                <div class="grid-example col s11 offset-s1">
                    <div class="center-form">
                    {% if update %}
                        <form class="col s12" id="form-create-students" method="post" action="{% url 'activities_update' object.pk %}">
                    {% else %}
                        <form class="col s12" id="form-create-students" method="post" action="{% url 'activities_create' set_pk %}">
                    {% endif %}
                            {% csrf_token %}
                            <div class="row">
                                <div class="grid-example col s2">
                                </div>
                                <div class="grid-example col s8">
                                    <div class="validate-input">
                                        <label>{% trans "Title" %}</label>
                                        {{form.title}}
                                        <div class="form-errors">
                                            {{ form.title.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="grid-example col s2">
                                </div>
                                <div class="grid-example col s8">
                                    <div class="validate-input">
                                        <label>{% trans "Date" %}</label>
                                        {{form.date}}
                                        <div class="form-errors">
                                            {{ form.date.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="grid-example col s2">
                                </div>
                                <div class="grid-example col s3">
                                    <div class="validate-input">
                                        <label>{% trans "Weight" %}</label>
                                        {{form.weight}}
                                        <div class="form-errors">
                                            {{ form.weight.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-example col s5">
                                    <label>{% trans "Recovery" %}</label>
                                    {{form.is_recovery}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="grid-example col s2">
                                </div>
                                <div class="grid-example col s8">
                                    <label>{% trans "Evaluation" %}</label>
                                        {{form.evaluation}}
                                </div>
                            </div>
                            <div class="row">
                                <a onclick="location.href='{% url 'activities_list' set_pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
                            {% if update %}
                                <button class="btn waves-effect right" type="submit" name="action">{% trans "Edit" %}
                                    <i class="large material-icons right"><i>send</i></i>
                                </button>
                            {% else %}
                                <button class="btn waves-effect right" type="submit" name="action">{% trans "Create" %}
                                    <i class="large material-icons right"><i>send</i></i>
                                </button>
                            {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{form.media}}
{% endblock %}