{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %} 
<div class="container">
    <h4 class="centered">{% trans "List of teachers" %}</h4>
    <a style="border-radius:5px" href="{% url 'teachers_create'%}" class="right teal lighten-2 waves-effect waves-light btn-small"><i class="material-icons right">person_add</i>{% trans "Create Teacher" %}</a>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        {% include 'user_tr.html' %}
                        <th class="center" id="list">{% trans "List of subjects" %}</th>
                    </tr>
                </thead>
                {% for object in teacher_list %}
                    <tbody>
                        <tr class="center">
                            <td><i class="material-icons" style="color:#BBBBBB">account_circle</i></td>
                            <td>{{object.user.last_name}}</td> 
                            <td>{{object.user.first_name}}</td>
                            <td>{{object.initials}}</td>
                            <td>{{object.birthdate}}</td>
                            <td>{{object.user.email}}</td>
                            <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'teachers_update' object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'teachers_delete' object.pk %}'"><em class="material-icons" style="color:#e53935">delete</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'teachers_assign_subject_list' object.pk %}'"><em class="material-icons" style="color:#e53935">book</em></td>
                        </tr>
                    </tbody>
                {% endfor %}

            </tbody>
        </table>
{% include 'paginate.html' %}
    <a onClick="location.href='{% url 'home' %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
{% endblock %}
