{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of competences " %}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="description">{% trans "Description" %}</th>  
                        <th class="center" id="weight">{% trans "Weight" %}</th>                   
                    </tr>
                </thead>
                {% for object in subject_competence_list %}
                    <tbody>
                        <tr class="center">
                            <td>{{object.code}}</td> 
                            <td style="width:500px">{{object.name}}</td>
                            <td style="width:500px">{{object.description}}</td>    
                            <td class="center">{{object.weight}}</td>                         
                        </tr>
                    </tbody>
                {% endfor %}

            </tbody>
        </table>
        <a onClick="location.href='{% url 'my_subjects_list' %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
    {% include 'paginate.html' %}
</div>
{% endblock %}
