{% extends "base.html" %}
{% load i18n %}
{% block content %}
<body id="fondoPantalla">
<div style="padding-top:15px; width:500px; margin: 0 auto;" >
	<form  method="POST" action="{% url 'login' %}">

		{% csrf_token %}
		<div style="background-color: white; border:solid black 1px; border-radius: 10px;">
		<div class="center" style="padding-top:15px;">
			<i class="medium material-icons">account_circle</i>
			<h2 style="text-align:center; padding-bottom:50px;">
				{% trans "Login" %}
			</h2>
		</div>


			<div class="row" data-validate="Valid email is required: ex@abc.xyz">
				<div class="grid-example col s2">
				</div>
					<div class="grid-example col s4" style="width:330px;">
						<div class="validate-input">
						<label>{% trans "Username" %}</label>
						{{form.username}}
						</div>
				</div>
			</div>
			<div class="row" data-validate="Password is required">
				<div class="grid-example col s2">
				</div>
					<div class="grid-example col s4" style="width:330px;">
						<div class="validate-input">
						<label>{% trans "Password" %}</label>
						{{form.password}}
						</div>
						<div class="form-errors">
						{{ form.non_field_errors }}
					</div>
				</div>
			</div>
			<div class="row" style="padding-bottom: 20px; padding-right: 20px;">
					<button class="btn waves-effect right" type="submit" name="action">{% trans "Enter" %}
						<i class="large material-icons right"><i >send</i></i>
					</button>
			</div>
		</div>
	</form>
</div>
</div>

{% endblock %}