{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div  id="top-bot" class="container">
    <form action="{% url 'competences_delete' object.pk %}" method="post">
        {% csrf_token %}
        <h1 class="center title-delete flow-text">{% trans "Are you sure about deleting the set " %}<a>{{object.name}}</a>?</h1>

        <div class="center">
            <a style="border-radius:5px; background-color:#BBBBBB" href="{% url 'competences_list'%}" class="waves-effect waves-light btn-large button-delete">{% trans "Cancel" %}</a>
            <button style="border-radius:5px; background-color:#f05060" class="waves-effect waves-light btn-large button-delete delete-yes" type="submit"> 
                {% trans "Delete" %}
            </button>
        </div>
    </form>
</div>

{% endblock %}