{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <h4 class="centered">{% trans "List of competences of "  %} {{student.surname}} {{student.name}}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="competence">{% trans "Code" %}</th>
                        <th id="competence">{% trans "Level" %}</th>
                        <th id="mark">{% trans "Mark" %}</th>
                    </tr>
                </thead>
                {% for object in competence_student_list %} 
                    <tbody>
                        <tr class="center">
                            <td>{{object.competence.code}}</td>
                            <td>{{object.competence.level}}</td>
                                {% if object.mark or object.mark == 0%}
                                    <td>{{object.mark}}</td>                                 
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </tbody>
        </table>
        {% include 'paginate.html' %}
</div>


{% endblock %}
