{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% if level2 %}
    <h4 class="centered">{% trans "List of competences level 2" %}</h4>
    {% elif level3 %}
    <h4 class="centered">{% trans "List of competences level 3" %}</h4>
    {% else %}
    <h4 class="centered">{% trans "List of competences level 1" %}</h4>
    {% endif %}
    <a style="border-radius:5px" href="{% url 'competences_create' %}" class="right teal lighten-2 waves-effect waves-light btn-small">{% trans "Create competence" %}</a>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="description">{% trans "Description" %}</th>                    
                        <th class="center" id="button">{% trans "Edit" %}</th>
                        <th class="center" id="delete" >{% trans "Delete" %}</th>
                        {% if level2 %}
                        <th class="center" id="level2">{% trans "Level 1" %}</th>
                        {% endif %}
                        {% if level3 %} 
                        <th class="center" id="level3">{% trans "Level 2" %}</th>
                        {% endif %}  
                    </tr>
                </thead>
                {% for object in competence_list %}
                    <tbody>
                        <tr class="center">
                            <td>{{object.code}}</td> 
                            <td style="width:300px">{{object.name}}</td>
                            <td style="width:500px">{{object.description}}</td>                            
                            <td class="center dropdown-trigger"  onclick="location.href='{% url 'competences_update' object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td>
                            <td class="center dropdown-trigger"  onclick="location.href='{% url 'competences_delete' object.pk %}'"><em class="material-icons" style="color:#e53935">delete</em></td>
                            {% if level2 %} 
                            <td class="center dropdown-trigger"  onclick="location.href='{% url 'competences_relation' object.pk %}'"><em class="material-icons" style="color:#66bb6a">fast_forward</em></td>
                            {% endif %}
                            {% if level3 %} 
                            <td class="center dropdown-trigger"  onclick="location.href='{% url 'competences_relation' object.pk %}'"><em class="material-icons" style="color:#66bb6a">fast_forward</em></td>                            
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}

            </tbody>
        </table>
{% include 'paginate.html' %}
{% endblock %}
