{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of assigned competences" %}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="description">{% trans "Description" %}</th>
                        <th class="center" id="button">{% trans "Unassign" %}</th>
                    </tr>
                </thead>
            {% for o in object_list  %}
                    <tbody>
                        <tr class="center">
                            <td>{{o.code}}</td>
                            <td>{{o.name}}</td>
                            <td>{{o.description}}</td>  
                            {% if o.level == 1 %}   
                            <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'subjects_unassign_competence' pk=o.pk id=subject_object_pk %}'"><em class="material-icons" style="color:#e53935">clear</em></td>
                            {% endif %}
                            <td></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
    {% include 'paginate.html' %}
    <a onclick="location.href='{% url 'subjects_list' %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>

    {% if other_competences %}
        <h4 class="centered">{% trans "List of not assigned competences" %}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="description">{% trans "Description" %}</th>        
                        <th class="center" id="button">{% trans "Assign" %}</th>
                    </tr>
                </thead>
            {% for o in other_competences %}

                    <tbody>
                        <tr class="center">
                            <td>{{o.code}}</td> 
                            <td style="width:300px">{{o.name}}</td>
                            <td style="width:500px">{{o.description}}</td>
                            <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'subjects_assign_competence' pk=o.pk id=subject_object_pk %}'"><em class="material-icons" style="color:#29b6f6">send</em></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
