{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of sets" %}</h4>
    {% if request.user.profile.role == "ADMINISTRATOR" %} 
        <a style="border-radius:5px" href="{% url 'sets_create' %}" class="right teal lighten-2 waves-effect waves-light btn-small"><i class="material-icons right">add</i>{% trans "Create set" %}</a>
    {% endif %}
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id=""></th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="level">{% trans "Level" %}</th>
                        <th id="grade">{% trans "Grade" %}</th>
                        <th id="line">{% trans "Line" %}</th>
                        {% if request.user.profile.role == "ADMINISTRATOR" %} 
                        <th class="center" id="button">{% trans "Edit" %}</th>
                        <th class="center" id="delete">{% trans "Delete" %}</th>
                        {% else %}
                        <th class="center" id="blocks">{% trans "Evaluations" %}</th>
                        <th class="center" id="activities">{% trans "Activities" %}</th>
                        {% endif %}
                        <th class="center" id="list">{% trans "List of students" %}</th>
                    </tr>
                </thead>
            {% for object in set_list %}
                    <tbody>
                        <tr class="center">
                            <td><i class="material-icons" style="color:#BBBBBB">account_circle</i></td>
                            <td>{{object.name}}</td>
                            <td>{{object.level}}</td>
                            {% include 'td_grade.html' %}
                            <td>{{object.line}}</td>
                            {% if request.user.profile.role == "ADMINISTRATOR" %} 
                            <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'sets_update' object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'sets_delete' object.pk %}'"><em class="material-icons" style="color:#e53935">delete</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'sets_assign_student_list' object.pk %}'"><em class="material-icons" style="color:#e53935">people</em></td>
                            {% else %}
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'blocks_list' object.pk %}'"><em class="material-icons" style="color:#29b6f6">border_color</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'activities_list' object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'sets_student_list' object.pk %}'"><em class="material-icons" style="color:#e53935">people</em></td>
                            {% endif %}
                            
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
{% include 'paginate.html' %}
    <a onclick="location.href='{% url 'home' %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
{% endblock %}

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
