{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div id="form-generic" class="container">
    <div class="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
            {% if update %}
                <form class="col s12" id="form-create-exercises" method="post" action="{% url 'exercises_update' exercise_pk %}">
            {% else %}
                <form class="col s12" id="form-create-exercises" method="post" action="{% url 'exercises_create' activity_pk %}">
            {% endif %}
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s3">
                            <div class="validate-input">
                                <label>{% trans "Weight" %}</label>
                                {{form.weight}}
                                <div class="form-errors">
                                    {{ form.weight.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s8">
                            <div class="validate-input">
                                <label>{% trans "Statement" %}</label>
                                {{form.statement}}
                                <div class="form-errors">
                                    {{ form.statement.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a onclick="location.href='{% url 'exercises_list' type=1 pk=activity_pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
                    {% if update %}
                        <button class="btn waves-effect right" type="submit" name="action">{% trans "Edit" %}
                            <i class="large material-icons right"><i>send</i></i>
                        </button>
                    {% else %}
                        <button class="btn waves-effect right" type="submit" name="action">{% trans "Create" %}
                            <i class="large material-icons right"><i>send</i></i>
                        </button>
                    {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if update %}
    <h4 class="centered">{% trans "List of assigned competences" %}</h4>
    <div class="row">
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th id="name">{% trans "Name" %}</th>
                        <th class="center" id="intensity">{% trans "Intensity" %}</th>  
                        <th class="center" id="weight">{% trans "Weight" %}</th>         
                        <th class="center" id="Unassign">{% trans "Unssign" %}</th>       
                    </tr>
                </thead>
                {% for object in list_competences_assigned %}
                    <tbody>
                        <tr class="center">
                            <td style="width:100px">{{object.competence.code}}</td> 
                            <td style="width:300px">{{object.competence.name}}</td>
                            <td class="center" style="width:100px">{{object.intensity}}</td>
                            <td class="center" style="width:100px">{{object.weight}}</td> 
                            <td class="center" style="width:100px">

                            </td>                            
                        </tr>
                    </tbody>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <h4 class="centered">{% trans "List of unassigned competences" %}</h4>
    <div class="row">
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th id="name">{% trans "Name" %}</th>   
                        <th class="center" id="assign">{% trans "Assign" %}</th>        
                    </tr>
                </thead>
                {% for object in list_competences_unassigned %}
                    <tbody>
                        <tr class="center">
                            <td style="width:100px">{{object.code}}</td> 
                            <td style="width:300px">{{object.name}}</td>   
                            <td class="center" style="width:200px">
                                <form class="col s12" id="form-create-exercise_competences" method="post" action="{% url 'exercise_competences_create' id=object.pk pk=exercise_pk %}">   
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="grid-example col s2">
                                        </div>
                                        <div class="grid-example col s3">
                                            <div class="validate-input">
                                                <label>{% trans "Intensity" %}</label>
                                                {{exercise_competence_form.intensity}}
                                                <div class="form-errors">
                                                    {{ exercise_competence_form.intensity.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-example col s3">
                                            <div class="validate-input">
                                                <label>{% trans "Weight" %}</label>
                                                {{exercise_competence_form.weight}}
                                                <div class="form-errors">
                                                    {{ exercise_competence_form.weight.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn waves-effect right" type="submit" name="action">{% trans "Create" %}
                                            <i class="large material-icons right"><i>send</i></i>
                                        </button>
                                    </div>
                                </form>
                            </td>                   
                        </tr>
                    </tbody>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{{form.media}}
{% endblock %}