{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div id="form-generic" class="container">
    <divclass="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
            {% if update %}
                <form class="col s12" id="form-create-exercises" method="post" action="{% url 'exercises_update' exercise_pk %}">
            {% else %}
                <form class="col s12" id="form-create-exercises" method="post" action="{% url 'exercises_create' activity_pk %}">
            {% endif %}
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s3">
                            <div class="validate-input">
                                <label>{% trans "Weight" %}</label>
                                {{form.weight}}
                                <div class="form-errors">
                                    {{ form.weight.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s8">
                            <div class="validate-input">
                                <label>{% trans "Statement" %}</label>
                                {{form.statement}}
                                <div class="form-errors">
                                    {{ form.statement.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a onclick="location.href='{% url 'exercises_list' activity_pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
                    {% if update %}
                        <button class="btn waves-effect right" type="submit" name="action">{% trans "Edit" %}
                            <i class="large material-icons right"><i>send</i></i>
                        </button>
                    {% else %}
                        <button class="btn waves-effect right" type="submit" name="action">{% trans "Create" %}
                            <i class="large material-icons right"><i>send</i></i>
                        </button>
                    {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{form.media}}
{% endblock %}