
{% block content %}

    <h4 class="centered">Listado de profesores</h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Iniciales</th>
                    <th>Fecha de nacimiento</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for object in teacher_list %}
                    <tr>
                        <td>{{object.user.last_name}}, {{object.user.first_name}}</td>
                        <td>{{object.initials}}</td>
                        <td>{{object.user.birthdate}}</td>
                        <td>{{object.user.email}}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

{% endblock %}