{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Corrige/static/css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="grey lighten-4">
    <nav class="pink lighten-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="padding-left:15px">Corrige <em class="material-icons center" class="purple lighten-3">book</em></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:15px;">
                <li><a href="#">Home</a></li>
                <li><a href="students/list.html">Alumnos</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </nav>
        
    <div class="container">


    {% block content %}
    {% endblock %}

    </div>

    </body>
</html>