{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>
    <!-- Compiled and minified CSS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <link rel="stylesheet" href="{% static 'css/materialize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verum</title>
</head>
<body class="grey lighten-4">
    <nav class="pink lighten-3">
        <div class="nav-wrapper">
        <img class="logo" src="{% static 'images/blanco.png' %}" alt="corrige" width="120" height="60">            
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:15px;">
                <li><a href="{% url 'home'%}">{% trans "Home" %}</a></li>
                {% if  request.user.is_authenticated %}
                    {% if request.user.profile.role == "ADMINISTRATOR" %} 
                    <li><a href="{% url 'administrators_list' %}">{% trans "Administrators" %}</a></li>
                    <li><a href="#!" class="dropdown-trigger" data-beloworigin="true" data-target="dropdown2" >{% trans "Competences" %}<i class="material-icons left">arrow_drop_down</i></a></li>
                    <li><a href="{% url 'evaluations_list' %}">{% trans "Evaluations" %}</a></li>
                    <li><a href="{% url 'students_list' %}">{% trans "Students" %}</a></li>
                    <li><a href="{% url 'teachers_list' %}">{% trans "Teachers" %}</a></li>
                    <li><a href="{% url 'sets_list' %}">{% trans "Sets" %}</a></li>
                    <li><a href="{% url 'subjects_list' %}">{% trans "Subjects" %}</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-beloworigin="true" data-target="dropdown1"><i class="material-icons left">account_circle arrow_drop_down</i></a></li>
                    {% else %}
                    <li><a href="#">{% trans "My Activities" %}</a></li>
                    <li><a href="#">{% trans "My Sets" %}</a></li>
                    <li><a href="#">{% trans "My Subjects" %}</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-beloworigin="true" data-target="dropdown1"><i class="material-icons left">account_circle arrow_drop_down</i></a></li>
                     {% endif %}
                {% else %}
                <li><a href="{% url 'login'%}" class="teal lighten-2 waves-effect waves-light btn-small">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <ul id="dropdown1" class="dropdown-content grey lighten-4">
        <li><a href="#!" style="color:black">{% trans "Profile" %}</a></li>
        <li><a href="{% url 'logout'%}" style="color:black">{% trans "Logout" %}</a></li>
    </ul>


    <ul id="dropdown2" class="dropdown-content grey lighten-4">
        <li><a href="{% url 'competences_list1'%}" style="color:black">{% trans "Level 1" %}</a></li>
        <li><a href="{% url 'competences_list2'%}" style="color:black">{% trans "Level 2" %}</a></li>
        <li><a href="{% url 'competences_list3'%}" style="color:black">{% trans "Level 3" %}</a></li>
    </ul>

    <div class="container">


    {% block content %}
    {% endblock %}

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var options ={
                alignement: 'center',
                inDuration: 1000,
            }
            var instances = M.Dropdown.init(elems, options);
        });
    </script>

    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    </body>
</html>