{% load i18n %}
<div class="row">
    <div class="grid-example col s1 xl2">
    </div>
    <div class="grid-example col s10 xl8">
        <div class="validate-input">    
            <label>{% trans "Username" %}</label>
            {{form.username}}
            {{form.username.errors}}
        </div>
    </div>
</div> 
<div class="row">
    <div class="grid-example col s1 xl2">
    </div>
    <div class="grid-example col s10 xl8">
        <div class="validate-input">
            <label>{% trans "Password" %}</label>
            {{form.password1}}
            {{form.password1.errors}}
        </div>
    </div>
</div>
<div class="row">
    <div class="grid-example col s1 xl2">
    </div>
    <div class="grid-example col s10 xl8">
        <div class="validate-input">
            <label>{% trans "Confirm Password" %}</label>
            {{form.password2}}
            {{form.password2.errors}}
        </div>
    </div>
</div>