<div class="row">
    <div class="grid-example col s2">
    </div>
    <div class="grid-example col s3">
        <div class="validate-input">
            <label>{% trans "Name" %}</label>
            {{form.first_name}}
            <div class="form-errors">
                {{ form.first_name.errors }}
            </div>
        </div>
    </div>
    <div class="grid-example col s5">
        <div class="validate-input">
            <label>{% trans "Surname" %}</label>
            {{form.last_name}}
            <div class="form-errors">
                {{ form.last_name.errors }}
            </div>
        </div>
    </div>
</div>