{% load i18n %}
<div class="row">
    <div class="grid-example col s1 xl2">
    </div>
    <div class="grid-example col s4 xl3">
        <div class="validate-input">
            <label>{% trans "Name" %}</label>
            {{form.first_name}}
        </div>
    </div>
    <div class="grid-example col s6 xl5">
        <div class="validate-input">
            <label>{% trans "Surname" %}</label>
            {{form.last_name}}
        </div>
    </div>
</div>
<div class="row form-errors center">
    {{ form.first_name.errors }}
    {{ form.last_name.errors }}
</div>