{% extends 'base.html' %}
{% block content %}
<div id="form-generic" class="container">
    <divclass="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
            {% if request.get_full_path == '/students/create' %}
                <form class="col s12" id="form-create-students" method="post" action="{% url 'students_create' %}">
            {% else %}
                <form class="col s12" id="form-update-students" method="post" action="{% url 'students_update' object.pk %}">
            {% endif %}
                    {% csrf_token %}
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s3">
                            <div class="validate-input">
                                <label>Name</label>
                                {{form.name}}
                                <div class="form-errors">
                                    {{ form.name.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="grid-example col s5">
                            <div class="validate-input">
                                <label>Surname</label>
                                {{form.surname}}
                                <div class="form-errors">
                                    {{ form.surname.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s8">
                            <div class="validate-input">
                                <label>Birthdate</label>
                                {{form.birthdate}}
                                <div class="form-errors">
                                    {{ form.birthdate.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s2">
                        </div> 
                        <div class="grid-example col s8">
                            <div class="validate-input">
                                <label>Initials</label>
                                {{form.initials}}
                                <div class="form-errors">
                                    {{ form.initials.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.get_full_path == '/students/create' %}
                    <div class="row">
                        <button class="btn waves-effect right" type="submit" name="action">Create
                            <i class="large material-icons right"><i >send</i></i>
                        </button>
                    </div>
                    {% else %}
                    <div class="row">
                        <button class="btn waves-effect right" style="background-color:#29b6f6" type="submit" name="action">Edit
                            <i class="large material-icons right"><i >send</i></i>
                        </button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}