{% extends 'base.html' %}
{% block content %}

    <h4 class="centered">Listado de alumnos</h4>
        <table class="striped">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="surname">Surname</th>
                        <th id="name">Name</th>
                        <th id="birthdate">Birthday</th>
                        <th id="button"></th>
                    </tr>
                </thead>
            {% for object in student_list %}
                    <tbody>
                    <tr>
                        <td>{{object.surname}}</td>
                        <td>{{object.name}}</td>
                        <td>{{object.birthdate}}</td>
                        <td><a href="{% url 'students_update' object.pk %}">Editar</a></td>
                    </tr>
                    </tbody>
            {% endfor %}
        </table>

{% endblock %}
