{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div id="form-generic" class="container">
    <divclass="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
            {% if request.get_full_path == '/administrators/create' %}
                <form class="col s12" id="form-create-administrator" method="post" action="{% url 'administrators_create' %}">
            {% else %}
                <form class="col s12" id="form-create-administrator" method="post" action="{% url 'administrators_update' object.pk %}">
            {% endif %}
                    {% csrf_token %}
                    
                    {% include 'user_name_form.html' %}

                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s5">
                            <div class="validate-input">
                                <label>{% trans "Birthdate" %}</label>
                                {% if request.get_full_path == '/administrators/create' %}
                                    {{form.birthdate}}
                                    {{form.birthdate.errors}}
                                {% else %}
                                <div class="form-errors">
                                    {{administrator_form.birthdate}}
                                    {{administrator_form.birthdate.errors}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="grid-example col s3">
                            <div class="validate-input">
                                <label>{% trans "Initials" %}</label>
                            {% if request.get_full_path == '/administrators/create' %}
                                {{form.initials}}
                                {{form.initials.errors}}
                            {% else %}
                                <div class="form-errors">
                                    {{administrator_form.initials}}
                                    {{administrator_form.initials.errors}}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s2">
                        </div>
                        <div class="grid-example col s8">
                            <div class="validate-input">    
                                <label>Email</label>
                                {{form.email}}
                                {{form.email.errors}}
                            </div>
                        </div>
                    </div> 
                    {% if request.get_full_path == '/administrators/create' %}
                        {% include 'user_userpass_form.html' %}
                    {% endif %}  

                    {% if request.get_full_path == '/administrators/create' %}
                    <div class="row">
                    <button onClick="javascript:history.go(-1);" class="waves-effect waves-light btn pink lighten-2 left" style="margin-bottom:15px;" type="submit" name="action">{% trans "Back" %}
                        <i class="material-icons left">arrow_back</i>
                    </button>
                        <button class="btn waves-effect right" type="submit" name="action">{% trans "Create" %}
                            <i class="large material-icons right"><i >send</i></i>
                        </button>
                    </div>
                    {% else %}
                    <div class="row">
                        <button onClick="javascript:history.go(-1);" class="waves-effect waves-light btn pink lighten-2" style="margin-bottom:15px;" type="submit" name="action">{% trans "Back" %}
                            <i class="material-icons left">arrow_back</i>
                        </button>
                        <button class="btn waves-effect right" style="background-color:#29b6f6" type="submit" name="action">{% trans "Edit" %}
                            <i class="large material-icons right"><i >send</i></i>
                        </button>
                    </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
