{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of evaluations" %}</h4>
        <table class="highlight">
            <caption></caption>
            <thead>
                <tr>
                    <th id="name">{% trans "Name" %}</th>
                    <th id="period">{% trans "Period" %}</th>
                    <th class="center" id="weight">{% trans "Weight" %}</th>
                    <th id="star_date">{% trans "Start date" %}</th>
                    <th id="end_date">{% trans "End date" %}</th>
                    <th class="center" id="button">{% trans "Edit" %}</th>
                    <th class="center" id="delete">{% trans "Delete" %}</th>
                </tr>
            </thead>
            {% for object in evaluations_list %}
                <tbody>
                    <tr class="center">
                        <td>{{object.name}}</td>
                        <td>{{object.period}}</td>
                    {% if object.teacher %}
                        <td class="center">{{object.weight}}</td>
                    {% else %}
                        <td class="center">N/A</td>
                    {% endif %}
                        <td>{{object.start_date}}</td>
                        <td>{{object.end_date}}</td>
                    {% if object.teacher %}
                        <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'evaluations_update' object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td>
                        <td class="center dropdown-trigger" onclick="location.href='{% url 'evaluations_delete' object.pk %}'"><em class="material-icons" style="color:#e53935">delete</em></td>
                    {% else %}
                        <td class="center">N/A</td>
                        <td class="center">N/A</td>
                    {% endif %}
                    </tr>
                </tbody>
            {% endfor %}
        </table>
{% include 'paginate.html' %}
<a onClick="location.href='{% url 'home' %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
{% endblock %}

