{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of competences" %} {% trans "of" %} {{student_object.name}} {{student_object.surname}} </h4>
    <h6 class="centered">{% trans "Set" %}: {{set_object.name}}, {% trans "Activity" %}: {{activity_object.title}}</h6>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th class="td-none" id="name">{% trans "Name" %}</th>
                        <th class="td-none" id="description">{% trans "Description" %}</th>   
                        <th class="center" id="manual_mark">{% trans "Manual mark" %}</th>    
                    </tr>
                </thead>
                {% for object in c_mark_saved %}
                    <tbody>
                        <tr class="center">
                            <td>{{object.competence.code}}</td> 
                            <td class="td-none" style="width:300px">{{object.competence.name}}</td>
                            <td class="td-none" style="width:500px">{{object.competence.description}}</td>
                            <td class="center editable" data-id="{{ object.id }}" data-type="mark">
                                <div style="color:#0d47a1;cursor:pointer">
                                    {% if object.mark or object.mark == 0 %}
                                        {{ object.mark }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}

            </tbody>
        </table>
    <div class="row">
        <a onClick="location.href='{% url 'marks_competences_next' id=exercise_pk pk=student_object.pk %}'" class="waves-effect right waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i style="width:10px;" class="material-icons right">keyboard_arrow_right</i>{% trans "Next Student" %}</a>
        <a onClick="location.href='{% url 'marks_competences_previous' id=exercise_pk pk=student_object.pk %}'" class="waves-effect left waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i style="width:10px;" class="material-icons left">keyboard_arrow_left</i>{% trans "Prior Student" %}</a>
    </div> 
    <div class="row">
        <a onClick="location.href='{% url 'marks_competences_exercise_next' id=exercise_pk pk=student_object.pk %}'" class="waves-effect right waves-light btn" style="margin-bottom:15px;"><i style="width:10px;" class="material-icons right">keyboard_arrow_right</i>{% trans "Next Exercise" %}</a>
        <a onClick="location.href='{% url 'marks_competences_exercise_previous' id=exercise_pk pk=student_object.pk %}'" class="waves-effect left waves-light btn" style="margin-bottom:15px;"><i style="width:10px;" class="material-icons left">keyboard_arrow_left</i>{% trans "Prior Exercise" %}</a>
    </div>     
    <a onClick="location.href='{% url 'marks_exercises_list' id=activity_object.pk pk=student_object.pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>

<script>
    $(document).ready(function(){
        $(document).on("click", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='number' class='input-data' style='width:50px;'>";
            $(this).html(input);
            $(this).removeClass("editable");
        });

        $(document).on("blur", ".input-data", function(){
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            sendToServer(td.data("id"), value, {{teacher_id}});
        });

        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if (key == 13){
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                sendToServer(td.data("id"), value, {{teacher_id}});
            }
        });

        function sendToServer(id, value, user){
            console.log(id);
            console.log(value);
            $.ajax({
                url:"http://127.0.0.1:8000/marks/competences/save",
                type:"POST",
                data:{id:id, value:value, user:user},
            })
            .done(function(response){
                console.log(response);
                M.toast({html: '{{done}}', classes: 'green lighten-1'})
    
                
            })
            .fail(function(response){
                console.log("Error");
                M.toast({html: '{{fail}}', classes: 'red lighten-1'})
                
            });
        }
    });
</script>
{% endblock %}
