{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of evaluations" %} {% trans "of" %} {{student_object.name}} {{student_object.surname}}</h4>
    <h6 class="centered">{% trans "Set" %}: {{set_object.name}}</h6>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="name">{% trans "Name" %}</th>
                        <th class="td-none" id="period">{% trans "Period" %}</th>
                        <th class="td-none" id="star_date">{% trans "Start date" %}</th>
                        <th class="td-none" id="end_date">{% trans "End date" %}</th>
                        <th class="center" id="mark">{% trans "Mark" %}</th>
                        <th class="center" id="manual_mark">{% trans "Manual mark" %}</th>
                        <th class="center" id="activities">{% trans "Activities" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="center">
                        <td>{{parent_mark_saved.evaluation.name}}</td>
                        <td class="td-none">{{parent_mark_saved.evaluation.period}}</td>
                        <td class="td-none">{{parent_mark_saved.evaluation.start_date}}</td>
                        <td class="td-none">{{parent_mark_saved.evaluation.end_date}}</td>
                        <td class="center">
                        {% if parent_mark_saved.mark or parent_mark_saved.mark == 0 %}
                            {{parent_mark_saved.mark}}
                        {% else %}
                            -
                        {% endif %}
                        </td>
                        <td class="center editable" data-id="{{ parent_mark_saved.id }}" data-type="mark">
                            <div style="color:#0d47a1;cursor:pointer">
                                {% if parent_mark_saved.manual_mark or parent_mark_saved.manual_mark == 0 %}
                                    {{parent_mark_saved.manual_mark}}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </td>
                        <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_activities_list' sk=set_object.pk id=parent_mark_saved.evaluation.pk pk=student_object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                    </tr>
                </tbody>
            {% for object in ev_mark_saved %}
                    <tbody>
                        <tr class="center">
                            <td>{{object.evaluation.name}}</td>
                            <td class="td-none">{{object.evaluation.period}}</td>
                            <td class="td-none">{{object.evaluation.start_date}}</td>
                            <td class="td-none">{{object.evaluation.end_date}}</td>
                            <td class="center">
                            {% if object.mark or object.mark == 0 %}
                                {{object.mark}}
                            {% else %}
                                -
                            {% endif %}
                            </td>
                            <td class="center editable" data-id="{{ object.id }}" data-type="mark">
                                <div style="color:#0d47a1;cursor:pointer">
                                    {% if object.manual_mark or object.manual_mark == 0 %}
                                        {{object.manual_mark}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                            {% comment %} <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_evaluations_create' id=set_object.pk pk=object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td> {% endcomment %}
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_activities_list' sk=set_object.pk id=object.evaluation.pk pk=student_object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
    <div class="row">
        <a onClick="location.href='{% url 'marks_evaluations_next' id=set_object.pk pk=student_object.pk %}'" class="waves-effect right waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i style="width:10px;" class="material-icons right">keyboard_arrow_right</i>{% trans "Next Student" %}</a>
        <a onClick="location.href='{% url 'marks_evaluations_previous'  id=set_object.pk pk=student_object.pk %}'" class="waves-effect left waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i style="width:10px;" class="material-icons left">keyboard_arrow_left</i>{% trans "Prior Student" %}</a>
    </div>
    <a onClick="location.href='{% url 'sets_student_list' set_object.pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>

<script>
    $(document).ready(function(){
        $(document).on("click", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='number' class='input-data' style='width:50px;'>";
            $(this).html(input);
            $(this).removeClass("editable");
        });

        $(document).on("blur", ".input-data", function(){
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            sendToServer(td.data("id"), value, {{teacher_id}}, {{set_id}});
        });

        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if (key == 13){
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                sendToServer(td.data("id"), value, {{teacher_id}}, {{set_id}});
            }
        });

        function sendToServer(id, value, user, set_id){
            console.log(id);
            console.log(value);
            $.ajax({
                url:"http://127.0.0.1:8000/marks/evaluations/save",
                type:"POST",
                data:{id:id, value:value, user:user, set_id:set_id},
            })
            .done(function(response){
                console.log(response);
                M.toast({html: '{{done}}', classes: 'green lighten-1'})
            })
            .fail(function(response){
                console.log("Error");
                M.toast({html: '{{fail}}', classes: 'red lighten-1'})
            });
        }
    });
</script>
{% endblock %}

