{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %} 
<div class="container">
    <h4 class="centered">{% trans "List of assigned subjects" %} {% trans "of" %} {{teacher_object.user.first_name}} {{teacher_object.user.last_name}}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id=""></th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="level">{% trans "Level" %}</th>
                        <th id="grade">{% trans "Grade" %}</th>
                        <th id="description">{% trans "Description" %}</th>
                        <th class="center" id="button">{% trans "Unassign" %}</th>
                    </tr>
                </thead>
            {% for o in object_list  %}
                    <tbody>
                        <tr class="center">
                            <td><i class="material-icons" style="color:#BBBBBB">book</i></td>
                            <td>{{o.name}}</td>
                            <td>{{o.level}}</td>
                            {% include 'td_grade.html' %}
                            <td>{{o.description}}</td>  
                            <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'teachers_unassign_subject' pk=o.pk id=teacher_object_pk %}'"><em class="material-icons" style="color:#e53935">clear</em></td>
                            
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
    {% include 'paginate.html' %}
    <a onClick="location.href='{% url 'teachers_list' %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>

    <h4 class="centered">{% trans "List of not assigned subjects" %}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id=""></th>
                        <th id="name">{% trans "Name" %}</th>
                        <th id="level">{% trans "Level" %}</th>
                        <th id="grade">{% trans "Grade" %}</th>
                        <th id="description">{% trans "Description" %}</th>
                        <th class="center" id="button">{% trans "Assign" %}</th>
                    </tr>
                </thead>
            {% for o in other_subjects %}
                    <tbody>
                        <tr class="center">
                            <td><i class="material-icons" style="color:#BBBBBB">book</i></td>
                            <td>{{o.name}}</td>
                            <td>{{o.level}}</td>
                            {% include 'td_grade.html' %}
                            <td>{{o.description}}</td>    
                            <td class="center dropdown-trigger" type="button" onclick="location.href='{% url 'teachers_assign_subject' pk=o.pk id=teacher_object_pk %}'"><em class="material-icons" style="color:#29b6f6">send</em></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>

{% endblock %}

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->



