#form-generic{
    padding-top: 50px;
}

.padding-left-logo{
    padding-left: 30px;
    background-color: red;
}

#top-bot{
    padding-top: 50px;
    padding-bottom: 50px;
}

.centrado{
    margin: 1rem; 
    padding: 1rem; 
    text-align: center;
}

#fondoPantalla{
    background-image: url('/static/images/fondo 4.png');
    background-position: center center;
    background-attachment: fixed;
}
#fondoPantallaLista{
    background-image: url('/static/images/fondo prueba.png');
    background-position: center center;
    background-attachment: fixed;
}