{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %} 
<div class="container">
    <h4 class="centered">{% trans "List of activities" %} {% trans "of" %} {{student_object.name}} {{student_object.surname}}</h4>   
    <h6 class="centered">{% trans "Set" %}: {{set_object.name}}, {% trans "Evaluation" %}: {{evaluation_object.name}}</h6>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th class="td-none" id=""></th>
                        <th id="title">{% trans "Title" %}</th>
                        <th class="td-none" id="date">{% trans "Date" %}</th>
                        <th id="weight">{% trans "Weight" %}</th>
                        <th class="td-none" id="evaluation">{% trans "Evaluation" %}</th>
                        <th class="center td-none" id="is_recovery">{% trans "Recovery" %}</th>
                        <th class="center" id="mark">{% trans "Mark" %}</th>
                        <th class="center" id="manual_mark">{% trans "Manual mark" %}</th>
                        {% comment %} <th class="center" id="evaluate">{% trans "Evaluate" %}</th>  {% endcomment %}
                        <th class="center" id="exercises">{% trans "Exercises" %}</th>
                    </tr>
                </thead>
            {% for object in ac_mark_saved %}
                    <tbody>
                        <tr class="center">
                            <td class="td-none"><i class="material-icons" style="color:#BBBBBB">account_circle</i></td>
                            <td>{{object.activity.title}}</td>
                            <td class="td-none">{{object.activity.date}}</td>
                            <td>{{object.activity.weight}}</td>
                            <td class="td-none">{{object.activity.evaluation}}</td>
                            <td class="center dropdown-trigger td-none">
                                {% if object.activity.is_recovery %} 
                                    <em class="material-icons" style="color:#2d572c">check</em>
                                {% else %}
                                    <em class="material-icons" style="color:#e53935">close</em>
                                {% endif %}
                            </td>
                            <td class="center">
                                {% if object.mark or object.mark == 0 %}
                                    {{object.mark}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="center editable" data-id="{{ object.id }}" data-type="mark">
                                <div style="color:#0d47a1;cursor:pointer">
                                    {% if object.manual_mark or object.manual_mark == 0 %}
                                        {{object.manual_mark}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                            {% comment %} <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_activities_create' object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td> {% endcomment %}
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_exercises_list' id=object.activity.pk pk=student_object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
    <div class="row">
        <a onClick="location.href='{% url 'marks_activities_next' sk=set_object.pk id=evaluation_object.pk pk=student_object.pk %}'" class="waves-effect right waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i style="width:10px;" class="material-icons right">keyboard_arrow_right</i>{% trans "Next Student" %}</a>
        <a onClick="location.href='{% url 'marks_activities_previous' sk=set_object.pk id=evaluation_object.pk pk=student_object.pk %}'" class="waves-effect left waves-light btn" style="margin-top:55px; margin-bottom:15px;"><i style="width:10px;" class="material-icons left">keyboard_arrow_left</i>{% trans "Prior Student" %}</a>
    </div> 

<a onClick="location.href='{% url 'marks_evaluations_list' id=set_object.pk pk=student_object.pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>

<script>
    $(document).ready(function(){
        $(document).on("click", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='number' class='input-data' style='width:50px;'>";
            $(this).html(input);
            $(this).removeClass("editable");
        });

        $(document).on("blur", ".input-data", function(){
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            sendToServer(td.data("id"), value, {{teacher_id}});
        });

        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if (key == 13){
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                sendToServer(td.data("id"), value, {{teacher_id}});
            }
        });

        function sendToServer(id, value, user){
            console.log(id);
            console.log(value);
            $.ajax({
                url:"http://127.0.0.1:8000/marks/activities/save",
                type:"POST",
                data:{id:id, value:value, user:user},
            })
            .done(function(response){
                console.log(response);
                M.toast({html: '{{done}}', classes: 'green lighten-1'})
    
                
            })
            .fail(function(response){
                console.log("Error");
                M.toast({html: '{{fail}}', classes: 'red lighten-1'})
                
            });
        }
    });
</script>
{% endblock %}
