{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <h4 class="centered">{% trans "List of competences" %} {% trans "of" %} {{student_object.name}} {{student_object.surname}} </h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="code">{% trans "Code" %}</th>
                        <th class="td-none" id="name">{% trans "Name" %}</th>
                        <th class="td-none" id="description">{% trans "Description" %}</th>   
                        <th class="center" id="manual_mark">{% trans "Manual mark" %}</th>    
                        <th class="center" id="mark_action">{% trans "Mark" %}</th>               
                    </tr>
                </thead>
                {% for object in c_mark_saved %}
                    <tbody>
                        <tr class="center">
                            <td>{{object.competence.code}}</td> 
                            <td class="td-none" style="width:300px">{{object.competence.name}}</td>
                            <td class="td-none" style="width:500px">{{object.competence.description}}</td>
                            <td class="center">
                                {% if object.mark %}
                                    {{object.mark}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_competences_create' id=exercise_pk pk=object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                        </tr>
                    </tbody>
                {% endfor %}

            </tbody>
        </table>
        {% include 'paginate.html' %}       
<a onClick="location.href='{% url 'marks_exercises_list' id=activity_object.pk pk=student_object.pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
{% endblock %}
