{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <h4 class="centered">{% trans "List of evaluations" %} {% trans "of" %} {{student_object.name}} {{student_object.surname}} {% trans "of" %} {{set_object.name}}</h4>
        <table class="highlight">
            <caption></caption>
                <thead>
                    <tr>
                        <th id="name">{% trans "Name" %}</th>
                        <th class="td-none" id="period">{% trans "Period" %}</th>
                        <th class="td-none" id="star_date">{% trans "Start date" %}</th>
                        <th class="td-none" id="end_date">{% trans "End date" %}</th>
                        <th class="center" id="mark">{% trans "Mark" %}</th>
                        <th class="center" id="manual_mark">{% trans "Manual mark" %}</th>
                        <th class="center" id="evaluate">{% trans "Evaluate" %}</th> 
                        <th class="center" id="activities">{% trans "Activities" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="center">
                        <td>{{parent_mark_saved.evaluation.name}}</td>
                        <td class="td-none">{{parent_mark_saved.evaluation.period}}</td>
                        <td class="td-none">{{parent_mark_saved.evaluation.start_date}}</td>
                        <td class="td-none">{{parent_mark_saved.evaluation.end_date}}</td>
                        <td class="center">
                        {% if parent_mark_saved.mark or parent_mark_saved.mark == 0 %}
                            {{parent_mark_saved.mark}}
                        {% else %}
                            -
                        {% endif %}
                        </td>
                        <td class="center">
                        {% if parent_mark_saved.manual_mark or parent_mark_saved.manual_mark == 0 %}
                            {{parent_mark_saved.manual_mark}}
                        {% else %}
                            -
                        {% endif %}
                        </td>
                        <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_evaluations_create' id=set_object.pk pk=parent_mark_saved.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td>
                        <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_activities_list' sk=set_object.pk id=parent_mark_saved.evaluation.pk pk=student_object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                    </tr>
                </tbody>
            {% for object in ev_mark_saved %}
                    <tbody>
                        <tr class="center">
                            <td>{{object.evaluation.name}}</td>
                            <td class="td-none">{{object.evaluation.period}}</td>
                            <td class="td-none">{{object.evaluation.start_date}}</td>
                            <td class="td-none">{{object.evaluation.end_date}}</td>
                            <td class="center">
                            {% if object.mark or object.mark == 0 %}
                                {{object.mark}}
                            {% else %}
                                -
                            {% endif %}
                            </td>
                            <td class="center">
                            {% if object.manual_mark or object.manual_mark == 0 %}
                                {{object.manual_mark}}
                            {% else %}
                                -
                            {% endif %}
                            </td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_evaluations_create' id=set_object.pk pk=object.pk %}'"><em class="material-icons" style="color:#29b6f6">create</em></td>
                            <td class="center dropdown-trigger" onclick="location.href='{% url 'marks_activities_list' sk=set_object.pk id=object.evaluation.pk pk=student_object.pk %}'"><em class="material-icons" style="color:#e53935">rate_review</em></td>
                        </tr>
                    </tbody>
            {% endfor %}
        </table>
<a onClick="location.href='{% url 'sets_student_list' set_object.pk %}'" class="waves-effect waves-light btn pink lighten-2" style="margin-top:55px; margin-bottom:15px;"><i class="material-icons left">arrow_back</i>{% trans "Back" %}</a>
{% endblock %}

